main
    height: 450px
    width: 100%
    background-image: url(./img/portada\ web.png)
    background-size: cover
    background-position: center
    padding: 30px
    h1
        color: white
        font-family: $font1
        font-size: $h1
        padding-top: 100px
        padding-bottom: 50px
        text-align: center

        @include tablet
            padding-top: 150px
    a
        background-color: white
        border: 2px solid $color1
        color: $color1
        font-family: $font2
        font-size: $boton
        text-decoration: none
        width: 80%
        height: auto
        margin: 0 auto
        text-align: center
        padding: 10px 20px
        display: block

        @include tablet
            width: 60%

        @include laptop-s
            width: 40%

    a:hover
        background-color: $color1
        text-decoration: none
        color: $color2
        border: 2px solid $color2
