@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&family=Libre+Baskerville:ital@0;1&display=swap')

// FUENTES TIPOGRAFICAS #FONT-FAMILY
$font1: league Spartan, sans-serif
$font2: libre Baskerville, serif

// TAMAÑO DE FUENTES #FONT-SIZE
$h1: 40px
$h2: 30px
$h3: 25px
$parrafo: 18px


// PALETA DE COLORES #COLOR
$color1: #343A40
$color2: #A2A4A6
$color3: #4E6073
$color4: #718BA6
$color5: #EDF0F2

*
    margin: 0
    padding: 0
    box-sizing: border-box
