*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #9e6b3d;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-transform: capitalize;
}

.barra li{
    display: inline-block;
    font-size: 16px;
    list-style: none;
    padding-top: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.barra a{
    text-decoration: none;
    color: #e4ba88;
}

.barra a:hover{
    color: #3b2e26;
}

main{
    height: 450px;
    width: 100%;
    background-image: url(./img/portada\ web.png);
    background-size: cover;
    background-position: center;
    padding: 30px;
}   

h1{
    color: white;
    font-size: 32px;
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
}


main a{
    background-color: burlywood;
    border: 2px solid #333;
    color: #333;
    font-size: 20 px;
    text-decoration: none;
    width: auto;
    text-align: center;
    padding: 10px 20px;
    display: block
}

main a:hover{
    background-color: white;
}

.titnos{
    font-size: 40px;
    text-align: center;
    background-color: white;
    padding: 20px;
}

.nosotros{
    height: 600px;
    width: 100%;
    /* background-color: #9e6b3d; */
    display: flex;
    flex-wrap: wrap;
    display: grid;
}

.nosizq{
    background-image: url(./img/nosotros.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.nosder{
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 30px;
}

.nosotros .nosder h2{
    font-size: 30px;
    padding: 20px;
}

section{
    min-height: 600px;
    width: 100%;
    background-color: white;
    display: flex;
    text-align: center;
    color: #333;
    margin-top: 10px;
    flex-wrap: wrap ;
}

.secizq{
    height: 100%;
    width: 100%;
    padding: 20px;
    font-size: 20px;

}

.secder{
    height: 100%;
    width: 100%;
    padding: 20px;
    font-size: 20px;

}

section h2{
    text-align: center;
    font-size: 20px;
    padding: 50px;
}

section p{
    margin-bottom: 50px;
}

section img{
    height: auto;
    width: 100%;
    margin-bottom: 50px;
}

section a{
    background-color: white;
    border: 2px solid #333;
    color: #333;
    font-size: 10 px;
    text-decoration: none;
    padding: 5px 10px;
    margin-bottom: 50px;
}

section a:hover{
    background-color: burlywood;
}

article h2{
    text-align: center;
    background-color: #e4ba88;
    color: #333;
    padding: 20px;
    margin-top: 30px;
}

.galeria{
    width: 100%;
    height: auto;
    background-color: #9e6b3d;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 250px);
    grid-gap: 20px;

}

.item{
    width: 100%;
    background-color: #3b2e26;
    padding: 30px;
    border: 5px solid white;
    background-size: cover;
    background-position: center;
}

.galeria .item:hover{
    transform: scale(1.03);
}

.item1{
    background-image: url(./img/2.png);
}

.item2{
    background-image: url(./img/6.png);
}

.item3{
    background-image: url(./img/3.png);
}

.item4{
    background-image: url(./img/7.png);
}

.footer{
    height: auto;
    width: 100%;
    background-color: #3b2e26;
    color: white;
    text-align: center;
    /* font-size: 20px; */
    padding: 20px;
}

.footer p{
    margin-bottom: 20px;
}

footer i{
    color: #e4ba88;
    font-size: 30px;
    letter-spacing: 30px;
}

@media only screen and (min-width: 430px){
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 250px);
    }
    .secizq{
        width: 50%;
    }
    .secder{
        width: 50%;
    }
}

@media only screen and (min-width: 650px) and (max-width: 799px){
    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .item2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .item3{
        grid-column: 3/4;
        grid-row: 1/4;
    }
    .item4{
        grid-column: 1/3;
        grid-row: 2/4;
    }
    .nosotros{
        height: 650px;
        grid-template-columns: 1fr 1fr;
        
    }
}

@media only screen and (min-width: 800px){
    .galeria{
        grid-template-columns: repeat(4, 1fr);
        grid-row: 200px;
    }
    .nosotros{
        grid-template-columns: 1fr 1fr;
    }
}