@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&family=Libre+Baskerville:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&family=Libre+Baskerville:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 450px;
  width: 100%;
  background-image: url(./img/portada\ web.png);
  background-size: cover;
  background-position: center;
  padding: 30px;
}
main h1 {
  color: white;
  font-family: league Spartan, sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding-top: 150px;
  padding-bottom: 50px;
  text-align: center;
}
main a {
  background-color: white;
  border: 2px solid #333;
  color: #333;
  font-size: 20 px;
  text-decoration: none;
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px;
  display: block;
}
main a:hover {
  background-color: #343A40;
  text-decoration: none;
  color: white;
  border: 2px solid white;
}

@media only screen and (min-width: 650px) and (max-width: 799px) {
  main a {
    width: 50%;
    height: auto;
  }
}
@media only screen and (min-width: 800px) {
  main a {
    width: 50%;
    height: auto;
  }
}
section {
  min-height: 600px;
  width: 100%;
  background-color: white;
  display: flex;
  text-align: center;
  color: #333;
  margin-top: 10px;
  flex-wrap: wrap;
}
section .secizq, section .secder {
  height: 100%;
  width: 100%;
  padding: 20px;
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  section .secizq, section .secder {
    width: 50%;
  }
}
section .secizq h2, section .secder h2 {
  text-align: center;
  font-size: 25px;
  padding: 50px;
}
section .secizq p, section .secder p {
  margin-bottom: 50px;
}
section .secizq img, section .secder img {
  height: auto;
  width: 100%;
  margin-bottom: 50px;
}
section .secizq a, section .secder a {
  background-color: white;
  border: 2px solid #333;
  color: #333;
  font-size: 20 px;
  text-decoration: none;
  padding: 5px 10px;
  margin-bottom: 50px;
}
section .secizq a:hover, section .secder a:hover {
  background-color: #343A40;
  text-decoration: none;
  color: white;
}

.footer {
  height: auto;
  width: 100%;
  background-color: #343A40;
  text-align: center;
  padding: 10px;
}
.footer p {
  margin-bottom: 15px;
  font-family: libre Baskerville, serif;
  font-size: 18px;
  color: #A2A4A6;
}
.footer .redes {
  color: #A2A4A6;
  font-size: 25px;
  letter-spacing: 25px;
  i: hover;
  i-color: white;
}

article {
  height: auto;
  width: 100%;
}
article h2 {
  font-family: league Spartan, sans-serif;
  font-size: 30px;
  color: #343A40;
  font-weight: bold;
  text-align: center;
  background-color: #A2A4A6;
  padding: 20px;
  margin-top: 30px;
}
article .galeria {
  width: 100%;
  height: auto;
  background-color: #4E6073;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 250px);
  grid-gap: 20px;
}
@media only screen and (min-width: 425px) {
  article .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 250px);
  }
}
@media only screen and (min-width: 768px) {
  article .galeria {
    grid-template-columns: 1fr 1fr 1fr;
  }
  article .galeria .item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  article .galeria .item2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  article .galeria .item3 {
    grid-column: 3/4;
    grid-row: 1/4;
  }
  article .galeria .item4 {
    grid-column: 1/3;
    grid-row: 2/4;
  }
}
@media only screen and (min-width: 1024px) {
  article .galeria {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px;
  }
  article .galeria .item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  article .galeria .item2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  article .galeria .item3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  article .galeria .item4 {
    grid-column: 4/5;
    grid-row: 1/2;
  }
}
article .galeria .item1 {
  background-image: url(./img/2.png);
}
article .galeria .item2 {
  background-image: url(./img/6.png);
}
article .galeria .item3 {
  background-image: url(./img/3.png);
}
article .galeria .item4 {
  background-image: url(./img/7.png);
}
article .galeria .item {
  width: 100%;
  padding: 30px;
  border: 5px solid white;
  background-size: cover;
  background-position: center;
}
article .galeria .item:hover {
  transform: scale(1.03);
}

.nosotros {
  height: 700px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .nosotros {
    height: 100vh;
    width: 100%;
  }
}
.nosotros .nosizq {
  background-image: url(./img/nosotros.png);
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .nosotros .nosizq {
    width: 50%;
    height: 100%;
  }
}
.nosotros .nosder {
  height: 200px;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-bottom: 400px;
}
@media only screen and (min-width: 375px) {
  .nosotros .nosder {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .nosotros .nosder {
    width: 50%;
  }
}
.nosotros .nosder h2 {
  font-size: 30px;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  height: auto;
  width: 100%;
  background-color: #343A40;
  text-align: center;
  padding: 10px;
}
.footer p {
  margin-bottom: 15px;
  font-family: libre Baskerville, serif;
  font-size: 18px;
  color: #A2A4A6;
}
.footer .redes {
  color: #A2A4A6;
  font-size: 25px;
  letter-spacing: 25px;
  i: hover;
  i-color: white;
}

.titcon {
  font-family: league Spartan, sans-serif;
  font-size: 30px;
  color: #343A40;
  font-weight: bold;
  text-align: center;
  background-color: white;
  padding: 20px;
}

.contacto .conizq {
  padding: 20px;
}
.contacto .conizq form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.contacto .conizq form label {
  font-weight: bold;
  margin-bottom: 8px;
}
.contacto .conizq form input,
.contacto .conizq form textarea {
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.contacto .conizq form button[type=submit] {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #9e6b3d;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.contacto .conizq form button[type=submit]:hover {
  background-color: #3b2e26;
}
.contacto .conder h2 {
  font-family: league Spartan, sans-serif;
  font-size: 30px;
  color: #343A40;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}/*# sourceMappingURL=estilos.css.map */